// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#add_idea{
    font-size: 8px;
    width: 60%;
    padding: 15px 15px;
    margin-right:3%; 
    border: 1px solid #57606f;
}
thead{
    background-color: #b2bec3;
}
table {
    margin-bottom: 20px;
    color: #57606f;
    border-collapse: collapse;
}
table, th, td {
    border: 0.3px solid #57606f;
}
th,td{
    width:13%;
}